@import '../../style/variables.scss';
.home {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.content-text {
	text-align: center;
	margin-bottom: 60px;
}

.title {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: $title-font;
	margin-bottom: 10px;
}
.text {
	margin-bottom: 20px;
}

.card-list {
	display: flex;
	gap: 20px;
}
