@import '../../style/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');
.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 10px;
}

.logo {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header {
	box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}
