@import '../../style/variables.scss';
.content {
	border: 1px solid rgb(207, 207, 207);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 30px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	.text-content {
		.title {
			font-size: 18px;
			color: $dark-blue;
			margin-bottom: 5px;
		}
		.text {
			font-size: 15px;
			color: $light-gray;
		}
	}
	.btn {
		border: 1px solid $dark-blue;
		padding: 10px 15px;
		color: $dark-blue;
		font-size: 15px;
		border-radius: 25px;
		&:hover {
			background-color: $dark-blue;
			color: white;
		}
	}

	&:hover {
		.title {
			color: $blue;
		}
	}
}
